:host {
  padding: 20px;
  display: block;
  width: fit-content;
}

.custom-card {
  width: fit-content !important;
}
.config-section {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  width: fit-content !important;
}
.card-content {
  width: fit-content !important;
}
.config-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 1500px) {
  .custom-card {
    width: 100% !important;
  }
  :host {
    width: 100% !important;
  }
}
