.custom-col{
  display: inline-block;
  width: fit-content
}
@media (max-width: 1500px) {
  .custom-col{
    display: block;
    width: 100% !important;
  }
  .xl-exception{
    align-items: start !important;
  }
}
