:host {
  padding: 20px;
  height: fit-content;
}
.user-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-card {
  width: 350px !important;
}
.value {
  text-align: center;
  margin-top: 15px;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.141);
  padding: 15px;
  overflow-wrap: break-word;
}
@media (max-width: 1500px) {
  .custom-card {
    width: 100% !important;
  }
  :host{
    width: 100% !important;
  }
}
